<h1>This is a Cat</h1>

<table>
    <thead>
        <tr>
            <th colspan="6">Cat Table</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID: <%= @cat.id %> </td>
            <td>Name: <%= @cat.name %></td>
            <td>Sex: <%= @cat.sex %></td>
            <td>Color: <%= @cat.color %></td>
            <td>Birth: <%= @cat.birth_date %></td>
            <td>Description: <%= @cat.description %></td>
        </tr>
    </tbody>
</table>